<<<<<<< HEAD
h2 {
  font-weight: 700;
  color: #0d6efd;
}

.card img {
  height: 180px;
  object-fit: cover;
=======
h2 {
  font-weight: 700;
  color: #0d6efd;
}

.card img {
  height: 180px;
  object-fit: cover;
>>>>>>> fda8155cf219015ceb12e2d750e984feae052669
}